<template>
  <div class="ytdl">
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <h2 class="title">YouTube-Downloader</h2>
          <p class="font-weight-light">TODO</p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "YouTubeDL",
  components: {}
});
</script>
