<template>
  <div class="chat">
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <h2 class="title">Chat</h2>
          <p class="font-weight-light">TODO (Der Rust Chat von Robin und mir?)</p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "Chat",
  components: {}
});
</script>
