<template>
  <div class="dashboard">
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="12">
          <h2 class="title">Dashboard</h2>
          <p class="font-weight-light">TODO</p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: "Dashboard",
  components: {}
});
</script>
